main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  text-align: center;
}

form {
  display: inline-flex;
  flex-direction: row;
  border: 1px solid #ddd;
  padding: 16px;
}

#input-container {
  display: flex;
  flex-direction: column;
}

.divider {
  border-left: 1px solid #ddd;
  margin: 0px 16px;
}

#output-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 200px;
}

output {
  font-size: 20px;
  font-weight: bold;
}

label {
  margin-bottom: 5px;
  color: gray;
}

input {
  text-align: center;
  border: solid #ddd;
  border-width: 0 1px;
}

.custom-input {
  display: inline-flex;
  border: 1px solid #ddd;
  justify-content: center;
}

.custom-input button {
  outline:none;
  -webkit-appearance: none;
  padding: 0 4px;
  background-color: transparent;
  border: none;
}

.custom-input button:active {
  background-color: lightgray;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

span{
  font-weight: bold;
}
